@brand-primary: #E91E63; // #337ab7
@brand-primary-light: #F48FB1; // #337ab7
@brand-accent:	#2196F3;	
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

@gray-light:	#e6e6e6;
@gray-medium:	#B5B5B5;
@gray-dark:		#474747;
@brown:			#73441E;
@light-blue:	#3FB9C1; // --> #f39c11
@red:			#D95D48; //#ff2e2e;
@red-light:		#FF7A7A;
@dark-blue:		#4D5761;
@blue:			#53B5D1; // --> #dc8c0b
@turquise:		#43B7AA;
@orange:		#E8543B;
@green:			#44B577;

@border-radius: 1px;


h2, h3, h4, h5 {
	font-weight: 400;
}
h1 {
	font-size: 112px;
	font-weight: 300;
}
h2 {
	font-size: 56px;
}
h3 {
	font-size: 45px;
}
h4 {
	font-size: 34px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
	font-weight: 500;	
}
p {
	font-size: 13px;
}

// List
.md-list {
}

.md-list-item:last-child {
	border-bottom: none;
}

.md-list-item {
	height: 88px;
	padding-top: 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid @gray-medium;
	h1, h2, h3, p {
		padding: 0px 16px 0px 16px;
		margin: 0px;		
	}
	.md-list-item-title {
		font-size: 16px;;
		font-weight: 400;
	}
	.md-list-item-subtitle {
		font-size: 14px;
	}
	.md-list-item-text {
		font-size: 14px;
		color: @gray-medium;
	}
	.md-list-item-addon {
		padding-left: 16px;
		float: right;
		display: inline-block;
	}
}

.md-chip {
	min-height: 32px;
	padding-right: 12px;
	padding-left: 12px;
	background-color: rgb(222,222,222);
	font-size: 13px;
	border-radius: 16px;
	color: #808080;
	font-weight: 300;
}