@brand-primary: #428bca; // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

@light-gray:	#e6e6e6;
@dark-gray:		#474747;
@brown:			#73441E;
@light-blue:	#3FB9C1; // --> #f39c11
@red:			#D95D48; //#ff2e2e;
@red-light:		#FF7A7A;
@dark-blue:		#4D5761;
@blue:			#53B5D1; // --> #dc8c0b
@turquise:		#43B7AA;
@orange:		#E8543B;
@green:			#44B577;



body { 
	font-family: 'Lato', sans-serif;
	padding-top: 70px; 
	padding-bottom: 20px;
}
a:link, a:visited, a:active {
	color: @red;
}
a:hover {
	color: @red-light;
	text-decoration: none;
}
a.btn-default {
	color: black;
}

.lockscreen {
	z-index: 1000000;
	position: fixed;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
	background-color: @blue;
	
	.alert {
		margin-top: 20px;
	}
}

.lockscreen-wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}


.box, .small-box, .btn, .info-box {
	border-radius: 0px;
}

.info-box-icon {
	color: white;	
}

.etiquette-producer {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 2px;
}
.etiquette-name {
	font-size: 20px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 1px;
}
.etiquette-appellation {
	font-size: 14px;
	margin-top: 1px;
	margin-bottom: 3px;
}
.etiquette-info {
	margin-bottom: 0px;
	text-transform: capitalize;
}
.etiquette-quantity {
	//margin-top: 3px;
	padding-top: 5px;
	border-top: 1px solid #6a6a6a;
	background-color: #797979;
	color: white;
	margin-left: -5px;
	padding-left: 5px;
	margin-right: -5px;
	padding-right: 5px;
	margin-bottom: -5px;
	padding-bottom: 5px;
}

.etiquette-country {
	color: rgba(200, 200, 200, 0.4);
	font-size: 50px;
	margin: 0px;
	padding: 0px;
	font-weight: 100;
	position: absolute;
	bottom: 50px;
	right: 20px;
	text-align: right;
	z-index: 900;
}

.on-top {
	z-index: 10000;
}

.etiquette-red {
	background-color: @red;
}

.etiquette-sparklin {
	background-color: @dark-gray;
}

.etiquette {
	border: 1px solid #d9d9d9;
	margin-bottom: 15px;
	padding: 5px;
	h1 {
		font-size: 20px;
		font-weight: bold;	
		margin-top: 10px;
		margin-bottom: 3px;
	}
	h2 {
		font-size: 16px;
		margin-top: 3px;
		font-weight:  bold;
	}
	h3 {
		font-size: 14px;
		margin-bottom: 3px;
	}
	
	a:link, a:visited, a:active {
		color: black;
	}
	a:hover {
		color: gray;
	}
				
	.label-1, .label-2, .label-3, .label-4, .label-5 {
		background-color: @brand-danger;
	}
	.label-6, .label-7 {
		background-color: @brand-warning;
	}
	.label-8, .label-9, .label-10 {
		background-color: @brand-success;
	}
	
}

.chart-container {
	text-align: center;
	//border: 1px solid @red;
	//padding: -1px;
	padding-bottom: 10px;
}

.chart {
	margin-top: 20px;
}

.pie-legend {
  list-style: none;
  //margin-top: 20px;
  position: absolute;
  right: 8px;
  top: 60px;
}
.pie-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  text-align: left;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.pie-legend li:hover {
  background-color: #fafafa;
}
.pie-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.submenu {
	background-color: @blue;
	color: white;
	margin-top: -20px;
	padding-top: 10px;
	height: 50px;
	margin-bottom: 15px;
	.btn {
		border: 1px solid white;
	}
}

.page-title {
	font-size: 23px;
	font-weight: bold;
}

.page-subtitle {
	font-size: 16px;
	font-weight: 400;	
}

.form-control {
	box-shadow: none;
}
input[type="text"], input[type="password"], input[type="number"] {
	border-radius: 0px;
}
.progress {
	border-radius: 0px;
}
.progress-xs {
	height: 2px;
}
.tile {
	min-height: 200px;
	width: 100%;
	background-color: @blue;
	font-size: 32px;
	text-align: center;
	color: white;
	font-weight: bold;
	display: table;
	margin-bottom: 15px;
}
.tile-content {
	display: table-cell;
	vertical-align: middle;
}

a.back-button {
	color: @dark-gray;
	background-color: white;
	margin-right: 10px;
	border: 1px solid white;
	padding-left: 4px;
	padding-right: 4px;
}

.btn {
	border: none;
}

a.btn-danger {
	color: white;
}

a.btn-default {
	border: 1px solid @dark-gray;
}

.input-group {
	border: none;
	border-radius: 0px;
	.input-group-addon {
		border: none;
		border-radius: 0px;
	}
	.form-control {
		border: none;
		border-radius: 0px;
	}
}

.input-group-btn {
	border: none;
	.btn {
		border: 1px solid @brand-primary;
	}
}

@media (max-width: 767px) {
	.lockscreen-wrapper {
		width: 90%;
	}
}

