<div class="row">
	<div class="col-md-4 col-sm-12" ng-repeat="recipe in menu.recipies">
		<recipies-recipe-card ng-model="recipe">
			<button class="btn btn-default" data-toggle="modal" data-target="#delete-recipe-modal" ng-click="setSelectedRecipe(recipe)">rimuovi</button>
		</recipies-recipe-card>
	</div>
</div>

<loader visible="loading"></loader>

<button class="btn btn-accent md-button-fab mmc-fixed-bottomright" data-toggle="modal" data-target="#modal">
	<i class="fa fa-plus"></i>
</button>
<!--<div class="mmc-fixed-menu-bottomright">
		<button class="btn btn-default" type="cancel" ng-click="go('/recipies/menus')">Annulla</button>
		<button class="btn btn-primary" type="submit" ng-click="saveMenu()">Salva</button>
</div>-->
<back-button></back-button>


<!-- Modal -->
<hub-modal modal-id="modal">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h5 class="modal-title" id="myModalLabel">Aggiungi ricetta</h5>
		</div>
		<div class="modal-body">
		 <input type="text" ng-model="searchRecipies" class="form-control" placeholder="cerca..." style="margin-bottom:20px;">
			<div ng-repeat="recipe in availableRecipies | filter:searchRecipies">
 				<recipies-recipe-card ng-model="recipe">
					<button class="btn btn-default" ng-click="addToMenu(recipe, $index)">aggiungi</button>
				</recipies-recipe-card>
 			</div>
		</div>
	</div>
</hub-modal>

<recipe-delete-modal modal-id="delete-recipe-modal" recipe="selectedRecipe" menu="menu">
</recipe-delete-modal>
