<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="producer in producers | filter:search">
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h6>{{producer.producer_name}}</h6>
			</div>
			<div class="panel-body">
				{{producer.producer_location}}, {{producer.producer_region}}
				<br/>{{producer.country_name_en}}
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" ng-click="go('/winedb/producers/'+producer.producer_id)">dettagli</button>
			</div>
		</div>
	</div>
</div>

<back-button back-to="-1"></back-button>
<add-button go-to="/winedb/producers/new/"></back-button>
