<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12"> 
		<div class="menu-recipe">
			<h3>Ricette <button class="btn btn-success pull-right" ng-click="saveMenu()" ng-show="showSaveButton">Salva</button></h3>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="recipe in menu.recipies">
					<button class="btn btn-success" ng-click="removeFromMenu(recipe, $index)">
						<i class="fa fa-trash"></i>
					</button>
					{{recipe.recipe_name}}<span ng-show="recipe.recipe_book_id > 0"> - {{recipe.recipe_book_title}}, {{recipe.recipe_book_page}}</span>
				</li>
			</ul>
		</div>			
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12"> 
		<div class="menu-recipe">
			<h3>Disponibili</h3>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="recipe in availableRecipies | filter:search">
					<button class="btn btn-primary" ng-click="addToMenu(recipe, $index)">
						<i class="fa fa-shopping-cart"></i>
					</button>
					{{recipe.recipe_name}} <span ng-show="recipe.recipe_book_id > 0">- {{recipe.recipe_book_title}}, {{recipe.recipe_book_page}}</span>
				</li>
			</ul>
		</div>				
	</div>
</div>

<div class="mmc-fixed-menu-bottomright">
		<button class="btn btn-default" type="cancel" ng-click="go('/recipies/menus')">Annulla</button>
		<button class="btn btn-primary" type="submit" ng-click="saveMenu()">Salva</button>
</div>
