<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12"> 
		<div class="list-group">
			<div class="list-group list-group--1-line">
				<div class="list-group-header">
					<div class="md-list-item-title">
						Menu #{{menu.recipe_menu_id}}
					</div>
				</div>
				<div class="list-group-item" ng-repeat="recipe in menu.recipies">
					<div class="md-list-item-group">
						<div class="md-list-item-icon">
							<button class="btn btn-accent" ng-click="removeFromMenu(recipe, $index)">
								<i class="fa fa-trash"></i>
							</button>
						</div>
						<div class="md-list-item-title">
							{{recipe.recipe_name}}<span ng-show="recipe.recipe_book_id > 0"> - {{recipe.recipe_book_title}}, {{recipe.recipe_book_page}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12"> 
		<div class="list-group">
			<div class="list-group list-group--1-line">
				<div class="list-group-header">
					<div class="md-list-item-title">
						Disponibile
					</div>
				</div>
				<div class="list-group-item" ng-repeat="recipe in availableRecipies | filter:search">
					<div class="md-list-item-group">
						<div class="md-list-item-icon">
							<button class="btn btn-primary" ng-click="addToMenu(recipe, $index)">
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
						<div class="md-list-item-title">
							{{recipe.recipe_name}} <span ng-show="recipe.recipe_book_id > 0">- {{recipe.recipe_book_title}}, {{recipe.recipe_book_page}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mmc-fixed-menu-bottomright">
		<button class="btn btn-default" type="cancel" ng-click="go('/recipies/menus')">Annulla</button>
		<button class="btn btn-primary" type="submit" ng-click="saveMenu()">Salva</button>
</div>
