<section class="content">
	<div class="row">
		<div class="col-md-12">
			<error-message error-text="There was an error. {{category.recipe_book_title}} was not added." ng-show="showError"></error-message>
			<form name="addForm">
				<div class="form-group">
					<label for="bookTitle">Titolo *</label>
					<input name="bookTitle" type="text" ng-model="book.recipe_book_title" class="form-control" required/>
				</div>
				<div class="form-group" >
					<label for="bookAuthor">Autore</label>
					<input name="bookAuthor" type="text" ng-model="book.recipe_book_author" class="form-control"/>
				</div>
				<div class="mmc-fixed-menu-bottomright">
						<button class="btn btn-default" type="cancel" ng-click="go('/recipies/books')">Annulla</button>
						<button class="btn btn-primary" type="submit" ng-disabled="addForm.$invalid" ng-click="save()">Salva</button>
				</div>
			</form>
		</div>
	</div>
</section>
