<div class="row">
	<div class="col-md-12">
		<div class="list-group">
			<div class="list-group list-group--2-line">
				<div class="list-group-header">
					<div class="md-list-item-title">
						Libri
					</div>
				</div>
				<div class="list-group-item" ng-repeat="book in books | filter:search">
					<div class="md-list-item-title">
						{{book.recipe_book_title}}
					</div>
					<div class="md-list-item-subtitle">
						{{book.recipe_book_author}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button class="btn btn-accent md-button-fab mmc-fixed-bottomright" ng-click="go('/recipies/books/new')">
	<i class="fa fa-plus"></i>
</button>