<div class="row submenu">
	<div class="col-md-6 col-sm-12">
		<span class="page-title"><back-button></back-button> I libri</span>
		<a class="btn btn-default btn-sm pull-right" href="#/recipies/books/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuovo libro</a>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
		  <input type="text" class="form-control" placeholder="cerca..." aria-describedby="sizing-addon2" ng-model="search">
		</div>		
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titolo</th>
					<th>Autore</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="book in books | filter:search">
					<td>{{book.recipe_book_title}}</td>
					<td>{{book.recipe_book_author}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>