<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="wine in storedWines | filter:search | orderBy:orderColumn">				
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h6>{{wine.wine_name}} {{wine.vintage_year}}<i class="fa fa-glass mmc-glass-color--{{wine.winetype_id}} pull-right"></i></h6>
				<p>{{wine.wine_appellation}}</p>
			</div>
			<div class="panel-body">
				Produttore: {{wine.producer_name}}<br/>
				Vitigni: {{wine.wine_grapes}}<br/>
				Bottiglie: {{wine.stored_quantity}}<br/>
				Alcohol: {{wine.wine_alcohol}}%<br/>
				{{wine.vintage_rating}}/10<br/>
				{{wine.country_code}}
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" ng-click="go('/winedb/wines/'+wine.wine_id)">dettagli</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#modal-drink" ng-click="setSelectedWine(wine)">bevi</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#modal-add"  ng-click="setSelectedWine(wine)">aggiungi</button>
			</div>
		</div>
	</div>
</div>

<back-button back-to="/winedb"></back-button>

<div id="modal-drink" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">Bevi una bottiglia di {{selectedWine.wine_name}} {{selectedWine.vintage_year}}</h5>
      </div>
      <div class="modal-body">
	      <p>Scegli una data</p>
		<uib-datepicker ng-model="date" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" ng-click="drink(selectedWine, date)">Bevi</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-add" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">Aggiungi bottiglie di {{selectedWine.wine_name}} {{selectedWine.vintage_year}}</h5>
      </div>
      <div class="modal-body">
	    <div class="form-group">
		    <label>Quantit&agrave;</label>
		    <input class="form-control" type="text" ng-model="quantity" placeholder="Quantit&agrave;">
	    </div>
		<uib-datepicker ng-model="date" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" ng-click="buy(selectedWine, date, quantity)">Aggiungi</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->