<navmenu title="In cantina" back-title="Dashboard" back-href="#/winedb" btn-type="none"></navmenu>

<!--<div class="row submenu">
	<div class="col-xs-3">
		<span class="page-title"><back-button to="#/winedb/index"></back-button> La cantina</span>
	</div>
	<div class="col-xs-3">
		<select ng-model="orderColumn" class="form-control input-sm pull-right">
			<option value="wine_name" ng-selected="true">Nome</option>
			<option value="-stored_quantity">Quantit&agrave;</option>
			<option value="-vintage_year">Anno</option>
			<option value="-vintage_rating">Valutazione</option>
		</select>
	</div>
	<div class="col-xs-6">
		<div class="input-group input-group-sm">
		  <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
		  <input type="text" class="form-control" placeholder="cerca..." aria-describedby="sizing-addon2" ng-model="search">
		</div>		
	</div>
</div>-->

<div class="row">
	<div class="col-md-12">				
		<div class="row">
			<div ng-repeat="wine in storedWines | filter:search | orderBy:orderColumn" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="etiquette ">
					<div class="etiquette-content">
						<div class="etiquette-country">{{wine.country_code}}</div>
						<div class="etiquette-producer">
							<a href="#/winedb/producers/{{wine.producer_id}}">{{wine.producer_name}}</a>
							<span class="pull-right label label-{{wine.vintage_rating}}">{{wine.vintage_rating}}/10</span>
						</div>
						<div class="etiquette-name">
							<a href="#/winedb/wines/{{wine.wine_id}}">{{wine.wine_name}}</a> <a href="#/winedb/wines/{{wine.wine_id}}/vintage/{{wine.vintage_id}}/edit">{{wine.vintage_year}}</a>
						</div>
						<div class="etiquette-appellation">{{wine.wine_appellation}}</div>
						<div class="etiquette-info">
							<span class="pull-left">{{wine.wine_alcohol}}%</span>
							<span class="pull-right">{{wine.winetype_description}} wine</span>
							<span class="clearfix"></span>
						</div>
						<div class="etiquette-quantity">
							<span class="">Bottles: {{wine.stored_quantity}}</span>
							 <a class="btn btn-default btn-xs pull-right on-top" href="#/winedb/cellar/{{wine.stored_wine_id}}/bottles/add"><i class="fa fa-cart-plus"></i> add</a>					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>