<section class="content-header">
	<h1>Producers</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-glass"></i></a>
		</li>
		<li class="active">
			Producers
		</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
					<div class="box-title">
						<a class="btn btn-default btn-sm" href="#/producers/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New producer</a>
					</div>
					<div class="box-tools">
						<div class="input-group" style="max-width: 300px;">
							<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
							<input type="search" ng-model="search" class="form-control input-sm pull-right" placeholder="search...">
						</div>
					</div>
					<div class="box-tools">
					</div>
				</div>
				<div class="box-body">
					<table class="table">
						<thead>
							<tr>
								<th>Producer</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="producer in producers | filter:search">
								<td><a href="#producers/{{producer.producer_id}}">{{producer.producer_name}}</a></td>
								<td>{{producer.producer_location}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>