<div class="row">
	
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<start-tile title="Vinoteca" img="/momocloud/img/vinoteca_start.jpg">
			<button class="btn btn-default" ng-click="go('/winedb/cellar/')">cantina</button>
			<button class="btn btn-default" ng-click="go('/winedb/wines/')">vini</button>
			<button class="btn btn-default" ng-click="go('/winedb/producers/')">produttori</button>
		</start-tile>
	</div>
		
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<start-tile title="Ricettatore" img="/momocloud/img/ricettatore_start.jpg">
			<button class="btn btn-default" ng-click="go('/recipies/menus/')">menu</button>
			<button class="btn btn-default" ng-click="go('/recipies/recipies/')">ricette</button>
			<button class="btn btn-default" ng-click="go('/recipies/books/')">libri</button>
		</start-tile>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<start-tile title="Libreria" img="/momocloud/img/libreria_start.jpg">
			<button class="btn btn-default" ng-click="go('/library/books/')">libri</button>
			<button class="btn btn-default" ng-click="go('/library/authors/')">autori</button>
		</start-tile>
	</div>
	
</div>