<navmenu title="Nuova categorie" back-title="Categorie" back-href="#/ricettatore/categories" new-href="#/recipies/categories/new" btn-type="none"></navmenu>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<error-message error-text="There was an error. {{category.recipe_category_name}} was not updated." ng-show="showError"></error-message>
			<form name="categoryForm">
				<div class="form-group" ng-class="{'has-error': categoryForm.categoryName.$invalid}">
					<label for="categoryName">Name *</label>
					<input name="categoryName" type="text" ng-model="category.recipe_category_name" class="form-control" required/>
				</div>
				<button class="btn btn-success" type="submit" ng-disabled="categoryForm.$invalid" ng-click="save()">Save</button>
			</form>
		</div>
	</div>
</section>
