<div class="row">
	<div class="col-md-12">
		<h5>{{book.recipe_book_title}}&nbsp;<small>{{book.recipe_book_author}}</small></h5>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-12" ng-repeat="recipe in recipes">
    <recipies-recipe-card ng-model="recipe">
			<button class="btn btn-default"  ng-click="setSelectedRecipe(recipe)" data-toggle="modal" data-target="#recipe-update-modal">Modifica</button>
			<!--<button class="btn btn-default"  ng-click="setSelectedRecipe(recipe)" data-toggle="modal" data-target="#recipe-delete-modal">Elimina</button>-->
		</recipies-recipe-card>
	</div>
</div>

<loader visible="loading"></loader>

<back-button></back-button>
<recipies-recipe-form modal-id="recipe-update-modal" mode="update" ng-model="selectedRecipe"></recipies-recipe-form>
