<div class="row">
	<div class="col-md-12">
		<div class="list-group list-group--3-line">
				<div class="list-group-header">
					<div class="md-list-item-title">
						Vini
					</div>
				</div>
			<div class="list-group-item list-group-item--hline" ng-repeat="wine in wines | filter:search">
				<div class="md-list-item-group">
					<div class="md-list-item-icon">
						<i class="fa fa-glass mmc-glass-color--{{wine.winetype_id}}"></i>
					</div>
					<div class="md-list-item-title">
						<a href="#/winedb/wines/{{wine.wine_id}}">{{wine.wine_name}}</a> <small> {{wine.wine_appellation}}</small>
					</div>
					<div class="md-list-item-subtitle"><a href="#/winedb/producers/{{wine.producer_id}}">{{wine.producer_name}}</a></div>
					<div class="md-list-item-text">
						{{wine.wine_grapes}} - {{wine.wine_alcohol}}%
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button class="btn btn-primary mmc-fixed-bottomleft" ng-click="go('/winedb')">
	<i class="fa fa-chevron-left"></i> Back
</button>
<button class="btn btn-accent md-button-fab mmc-fixed-bottomright" ng-click="go('winedb/wines/new')">
	<i class="fa fa-plus"></i>
</button>