<div class="row">
	<div class="col-md-12">
		<div class="md-list">
			<div class="md-list-item" ng-repeat="recipe in recipies | filter:search">
				<div class="md-list-item-title">{{recipe.recipe_name}}
				<span class="md-list-item-addon">
					<a href="#/recipies/recipies/{{recipe.recipe_id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>				
				</span>
					
				</div>
				<div class="md-list-item-subtitle">{{recipe.recipe_book_title}} - {{recipe.recipe_book_page}}</div>
				<div class="md-list-item-text">
					<span ng-repeat="category in recipe.recipe_categories"><span class="md-chip">{{category}}</span> </span>
					<span class="md-list-item-addon">
						{{recipe.recipe_rating}}/10
					</span>
				</div>
			</div>
		</div>
		<!--<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Ricetta</th>
					<th>Libro</th>
					<th>Pagina</th>
					<th>Valutazione</th>
					<th>Categorie</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="recipe in recipies | filter:search">
					<td>{{recipe.recipe_name}}</td>
					<td>{{recipe.recipe_book_title}}</td>
					<td>{{recipe.recipe_book_page}}</td>
					<td>{{recipe.recipe_rating}}/10</td>
					<td><span ng-repeat="category in recipe.recipe_categories"><span class="label label-primary">{{category}}</span> </span></td>
					<td><a href="#/recipies/recipies/{{recipe.recipe_id}}/edit"><span class="glyphicon glyphicon-edit"></span></a></td>
				</tr>
			</tbody>
		</table>-->
	</div>
</div>

<button class="btn btn-accent md-button-fab mmc-fixed-bottomright" ng-click="go('/recipies/recipies/new')">
	<i class="fa fa-plus"></i>
</button>