<navmenu title="Ricette" back-title="Dashboard" back-href="#/ricettatore/dashboarf" new-href="#/recipies/recipies/new" show-btn="true"></navmenu>

<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Ricetta</th>
					<th>Libro</th>
					<th>Pagina</th>
					<th>Valutazione</th>
					<th>Categorie</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="recipe in recipies | filter:search">
					<td>{{recipe.recipe_name}}</td>
					<td>{{recipe.recipe_book_title}}</td>
					<td>{{recipe.recipe_book_page}}</td>
					<td>{{recipe.recipe_rating}}/10</td>
					<td><span ng-repeat="category in recipe.recipe_categories"><span class="label label-primary">{{category}}</span> </span></td>
					<td><a href="#/recipies/recipies/{{recipe.recipe_id}}/edit"><span class="glyphicon glyphicon-edit"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>