
	<div class="row">
		<div class="col-md-12">
			<error-message error-text="There was an error. {{recipe.recipe_name}} was not updated." ng-show="showError"></error-message>
			<form name="addForm" ng-show="dependenciesLoaded">
				<div class="form-group" ng-class="{'has-error': addForm.recipeName.$invalid}">
					<label for="name">Titolo *</label>
					<input name="name" type="text" ng-model="recipe.recipe_name" class="form-control" required/>
				</div>
				<div class="form-group md-select">
					<label for="book">Libro</label>
					<select name="book" ng-model="recipe.recipe_book_id" class="form-control">
						<option ng-repeat="book in books | orderBy:'recipe_book_title'" value="{{book.recipe_book_id}}">
							{{book.recipe_book_title}} - {{book.recipe_book_author}}
						</option>
					</select>
				</div>
				<div class="form-group">
					<label for="bookPage">Pagina</label>
					<input name="bookPage" type="text" ng-model="recipe.recipe_book_page" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="recipeIngredients">Ingredienti (separati da virgola)</label>
					<input name="recipeIngredients" type="text" ng-model="recipe.recipe_ingredients" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="rating">Valutazione</label>
					<select name="rating" ng-model="recipe.recipe_rating" class="form-control">
						<option ng-repeat="rating in ratings" value="{{rating.rating_id}}">{{rating.rating_value}}</option>
					</select>
				</div>				
				<div class="form-group">
					<label for="categories">Categorie</label>
					<tags-input ng-model="recipeCategories">
						<auto-complete source="categories"></auto-complete>
					</tags-input>
				</div>
				<div class="mmc-fixed-menu-bottomright">
						<button class="btn btn-default" type="cancel" ng-click="go('/recipies/recipies')">Annulla</button>
						<button class="btn btn-success" type="submit" ng-disabled="addForm.$invalid" ng-click="save()">Salva</button>
				</div>
			</form>
		</div>
	</div>
