<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h4>{{wine.wine_name}}<i class="fa fa-glass mmc-glass-color--{{wine.winetype_id}} pull-right"></i></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<dl class="dl-horizontal">
					<dt>Produttore</dt>
					<dd>{{wine.producer_name}}</dd>
					<dt>Denominazione</dt>
					<dd>{{wine.wine_appellation}}</dd>
					<dt>Alcol</dt>
					<dd>{{wine.wine_alcohol}}%</dd>
					<dt>Vitigni</dt>
					<dd>{{wine.wine_grapes}}</dd>
					<dt>Note</dt>
					<dd>{{wine.wine_notes}}</dd>
					<dt></dt>
				</dl>
			</div>
			<div class="col-md-4 col-sm-12">
				<div ng-repeat="vintage in vintages | orderBy:'-vintage_year'">
					<wine-rating wine="{{wine.wine_id}}" 
						vintage="{{vintage.vintage_id}}" 
						year="{{vintage.vintage_year}}" 
						vintagerating="{{vintage.vintage_rating}}">
					</wine-rating>							
				</div>
			</div>
		</div>
	</div>
</div>

<back-button back-to="-1"></back-button>

<fab-actions>
	<button class="btn btn-default md-button-fab--small" ng-click="go('winedb/wines/'+wine.wine_id+'/edit')">
		<i class="fa fa-edit"></i>
	</button>
	<button class="btn btn-default md-button-fab--small" ng-click="go('winedb/wines/'+wine.wine_id+'/vintage/new')">
		<i class="fa fa-plus"></i>
	</button>
</fab-actions>

