<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="wine in wines | filter:search">
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h6>{{wine.wine_name}}<i class="fa fa-glass mmc-glass-color--{{wine.winetype_id}} pull-right"></i></h6>
				<p>{{wine.wine_appellation}}</p>
			</div>
			<div class="panel-body">
				<i class="fa fa-user"></i>&nbsp;&nbsp;{{wine.producer_name}}<br/>
				<i class="momocloud-icon grape"></i>&nbsp;&nbsp;{{wine.wine_grapes}}
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" ng-click="go('/winedb/wines/'+wine.wine_id)">scopri</button>
				<button class="btn btn-default" ng-click="go('/winedb/producers/'+wine.producer_id)">produttore</button>
			</div>
		</div>
	</div>
</div>

<back-button back-to="/winedb/"></back-button>
<add-button go-to="/winedb/wines/new"></add-button>
