<form class="form">
  <div class="form-group">
    <label>Titolo</label>
    <input type="text" class="form-control" placeholder="Titolo" ng-model="book.title">
  </div>
  <div class="form-group">
    <label>Autore</label>
    <input type="text" class="form-control" placeholder="Autore" ng-model="book.authors">
  </div>
  <div class="form-group">
    <label>Editore</label>
    <input type="text" class="form-control" placeholder="Editore" ng-model="book.publisher">
  </div>
  <div class="form-group">
    <label>Categorie</label>
    <input-tag tags="book.categories"></input-tag>
  </div>
  <div class="form-group">
    <label>Data di pubblicazione</label>
    <input type="text" class="form-control" placeholder="Data di pubblicazione" ng-model="book.published_data">
  </div>
  <div class="form-group">
    <label>Lingua</label>
    <input type="text" class="form-control" placeholder="Data di pubblicazione" ng-model="book.language">
  </div>
  <div class="form-group">
    <label>ISBN 13</label>
    <input type="text" class="form-control" placeholder="ISBN" ng-model="book.ISBN13">
  </div>
  <div class="form-group">
    <label>ISBN 10</label>
    <input type="text" class="form-control" placeholder="ISBN" ng-model="book.ISBN10">
  </div>
  <div class="form-group">
    <label>Prezzo</label>
    <input type="text" class="form-control" placeholder="Prezzo" ng-model="book.price">
  </div>
  <div class="form-group">
    <label>Valutazione</label><br />
    <uib-rating ng-model="book.rating" max="10"></uib-rating>
  </div>
</form>
