<hub-modal modal-id="{{id}}">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Rimuovi ricetta</h5>
    </div>
    <div class="modal-body">
      <p>Sei sicuro di voler rimuovere <b>{{recipe.recipe_name}}</b> dal menu #{{menu.recipe_menu_id}}?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
      <button type="button" class="btn btn-primary" ng-click="delete()">Rimuovi</button>
    </div>
  </div><!-- /.modal-content -->
</hub-modal>
