<div class="panel panel-default">
	<div class="panel-heading">
		<h6>{{recipe.recipe_name}}</h6>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Valutazione:</dt>
			<dd><uib-rating readonly="true" ng-model="recipe.recipe_rating" max="10"></uib-rating></dd>
			<dt>Libro:</dt>
			<dd>{{recipe.recipe_book_title}} - {{recipe.recipe_book_page}}</dd>
			<dt>Categorie:</dt>
			<dd>
				<span ng-repeat="category in recipe.recipe_categories track by $index">{{category}}
					<span ng-show="$index < (recipe.recipe_categories.length - 1)">, </span>
				</span>
			</dd>
		</dl>
	</div>
	<div class="panel-footer" ng-show="isFooterVisible">
		<div ng-transclude></div>
	</div>
</div>
