<div class="panel panel-default">
	<div class="panel-heading">
		<h6>{{recipe.recipe_name}}</h6>
	</div>
	<div class="panel-body">
			<p><uib-rating readonly="true" ng-model="recipe.recipe_rating" max="10"></uib-rating><p>
			<p>{{recipe.recipe_book_title}} - {{recipe.recipe_book_page}}</p>
			<p><span ng-repeat="category in recipe.recipe_categories track by $index">
				<span class="label label-default" >{{category}}</span>&nbsp;
			</span><p>
	</div>
	<div class="panel-footer" ng-show="isFooterVisible">
		<div ng-transclude></div>
	</div>
</div>
