<div class="panel panel-default">
	<div class="panel-heading">
		<h6>{{recipe.recipe_name}}</h6>
		<p><uib-rating readonly="true" ng-model="recipe.recipe_rating" max="10"></uib-rating><p>
	</div>
	<div class="panel-body">
			<p><i class="fa fa-book"></i>&nbsp;&nbsp;{{recipe.recipe_book_title}} - {{recipe.recipe_book_page}}</p>
			<p><i class="fa fa-tag"></i>&nbsp;&nbsp;<span ng-repeat="category in recipe.recipe_categories track by $index">
				<span>{{category}}</span><span ng-show="$index < recipe.recipe_categories.length-1">,&nbsp</span>
			</span><p>
	</div>
	<div class="panel-footer" ng-show="isFooterVisible">
		<div ng-transclude></div>
	</div>
</div>
