<div class="row">
	<div class="col-md-12">
		<h6>{{producer.producer_name}}</h6>
		<dl class="dl-horizontal">
			<dt>Luogo</dt>
			<dd>{{producer.producer_location}}</dd>
			<dt>Regione</dt>
			<dd>{{producer.producer_region}}</dd>
			<dt>Stato</dt>
			<dd>{{producer.country_name_en}}</dd>
		</dl>
		<div class="row">
			<div class="col-md-6 col-sm-12" ng-repeat="wine in producer.wines">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h6>{{wine.wine_name}}<i class="fa fa-glass mmc-glass-color--{{wine.winetype_id}} pull-right"></i></h6>
						<p>{{wine.wine_appellation}}</p>
					</div>
					<div class="panel-body">
						Alcool: {{wine.wine_alcohol}}%<br/>
						Vitigni: {{wine.wine_grapes}}
					</div>
					<div class="panel-footer">
						<button class="btn btn-default" ng-click="go('/winedb/wines/'+wine.wine_id)">dettagli</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<back-button back-to="-1"></back-button>

<fab-actions>
	<button class="btn btn-default md-button-fab--small" ng-click="go('winedb/producers/'+producer.producer_id+'/edit')">
		<i class="fa fa-edit"></i>
	</button>
	<button class="btn btn-default md-button-fab--small" ng-click="go('winedb/wines/new')">
		<i class="fa fa-plus"></i>
	</button>
</fab-actions>

