<!DOCTYPE html>
<html ng-app="momocloud">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>Momocloud</title>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    	<link rel="stylesheet" href="libs/bootstrap/css/sticky-footer.css">
			<link rel="stylesheet" href="css/momocloud.css">
	</head>
	<body>


	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse mmc-navbar-shadow-3" ng-controller="NavController">
	  <div class="container-fluid">
			<div class="navbar-header navbar-toggle collapsed">
				<div class=" ">
		      <button type="button" class="btn btn-primary navbar-btn navbar-left" ng-click="openSidenav('sidemenu')">
						<i class="fa fa-bars"></i>
		      </button>
				</div>
	    </div>
			<div id="navbar" class="navbar-collapse collapse">
				<button type="button" class="btn btn-primary navbar-btn navbar-left" ng-click="openSidenav('sidemenu')">
					<i class="fa fa-bars"></i>
				</button>
				<p class="navbar-text">{{application}}&nbsp;&ndash;&nbsp;{{title}}</p>
			</div><!--/.nav-collapse -->
	  </div>
	</nav>

	<md-sidenav nav-id="sidemenu">
		<div class="md-sidenav-title">
			<a href="#">Momocloud</a>
		</div>
		<ul>
			<li>Vinoteca
				<ul>
					<li><a href="#/winedb/cellar/">Cantina</a></li>
					<li><a href="#/winedb/wines/">Vini</a></li>
					<li><a href="#/winedb/producers/">Produttori</a></li>
				</ul>
			</li>
			<li>Ricettatore
				<ul>
					<li><a href="#/recipies/menus/">Menu</a></li>
					<li><a href="#/recipies/recipies/">Ricette</a></li>
					<li><a href="#/recipies/books/">Libri</a></li>
				 </ul>
			</li>
			<li>Libreria
				<ul>
					<li><a href="#/library/books">Libri</a></li>
					<li><a href="#/library/authors">Autori</a></li>
				</ul>
			</li>
		</ul>
	</md-sidenav>

		<div class="container-fluid">
				<div ng-view></div>
		</div>

		<script src="libs/jquery/jquery.js" charset="utf-8"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
		<script src="libs/angular/angular.js" charset="utf-8"></script>
		<script src="libs/angular/angular-route.min.js" charset="utf-8"></script>
		<script src="libs/angular-filter/angular-filter.min.js" charset="utf-8"></script>
		<script src="libs/moment/moment.js" charset="utf-8"></script>
		<script src="libs/chartjs/Chart.min.js" charset="utf-8"></script>
		<script src="libs/ui_bootstrap/ui_bootstrap.min.js" charset="utf-8"></script>
		<script src="libs/underscore/underscore.js" charset="utf-8"></script>


		<script src="services/notificationCenter.js" charset="utf-8"></script>
		<script src="services/dependenciesChecker.js" charset="utf-8"></script>
		<script src="services/url_service.js" charset="utf-8"></script>
		<script src="services/utilityService.js" charset="utf-8"></script>

		<script src="app.js" charset="utf-8"></script>

		<script src="directives/hub.js" charset="utf-8"></script>
		<script src="directives/start.js" charset="utf-8"></script>
		<script src="directives/library.js" charset="utf-8"></script>
		<script src="directives/ricettatore.js" charset="utf-8"></script>
		<script src="directives/momocloudMaterial.js" charset="utf-8"></script>

		<script src="apps/navController.js" charset="utf-8"></script>
		<script src="apps/login/session_service.js" charset="utf-8"></script>
		<script src="apps/login/auth_service.js" charset="utf-8"></script>
		<script src="apps/login/tokenizer_service.js" charset="utf-8"></script>
		<script src="apps/login/login_controller.js" charset="utf-8"></script>
		<script src="apps/start/start_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/dashboard/dashboard_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/producers/producers_list_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/producers/producers_edit_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/producers/producers_new_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/producers/producers_details_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/producers/producers_service.js" charset="utf-8"></script>
		<script src="apps/winedb/wines/wines_list_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/wines/wines_new_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/wines/wines_edit_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/wines/wines_details_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/wines/wines_service.js" charset="utf-8"></script>
		<script src="apps/winedb/vintages/vintages_new_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/vintages/vintages_edit_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/vintages/vintages_service.js" charset="utf-8"></script>
		<script src="apps/winedb/cellar/cellar_list_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/cellar/cellar_service.js" charset="utf-8"></script>
		<script src="apps/winedb/movements/movements_service.js" charset="utf-8"></script>
		<script src="apps/ricettatore/dashboard/dashboard_controller.js" charset="utf-8"></script>
		<script src="apps/ricettatore/menus/menus_service.js" charset="utf-8"></script>
		<script src="apps/ricettatore/menus/menus_list_controller.js" charset="utf-8"></script>
		<script src="apps/ricettatore/menus/menus_details_controller.js" charset="utf-8"></script>
		<script src="apps/ricettatore/recipies/recipies_service.js" charset="utf-8"></script>
		<script src="apps/ricettatore/recipies/recipies_list_controller.js" charset="utf-8"></script>
		<script src="apps/ricettatore/books/books_service.js" charset="utf-8"></script>
		<script src="apps/ricettatore/books/books_list_controller.js" charset="utf-8"></script>
		<script src="apps/ricettatore/books/books_details_controller.js" charset="utf-8"></script>
		<script src="apps/library/books/books_services.js" charset="utf-8"></script>
		<script src="apps/library/books/books_list_controller.js" charset="utf-8"></script>
		<script src="apps/library/authors/authors_service.js" charset="utf-8"></script>
		<script src="apps/library/authors/authors_list_controller.js" charset="utf-8"></script>
		<script src="apps/library/authors/authors_details_controller.js" charset="utf-8"></script>
		<script src="apps/winedb/generalData_service.js" charset="utf-8"></script>
		<script src="apps/winedb/chartData_service.js" charset="utf-8"></script>

	</body>
</html>
